<!-- <p>{{title|capitalizePhilips}}</p>




<ul>
  <li *ngFor = "let pokemon of arrayFotos" >

    <div class="card">
      <img src="{{pokemon.url}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{pokemon.description}}</b></h4>
        </div>
    </div>

  </li>
</ul> -->

<app-ex4><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
  libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
  voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!</p></app-ex4>


